.logo {
    background: url(./images/wagon.png) center 0 no-repeat;
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
    margin: 0 auto 26px;
    overflow: hidden;
    text-indent: -9999em;
}

.demo-logo {
    font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    margin: 10px 0;
}
.demo-headline {
    /*padding: 40px 0 60px;*/
    text-align: center;
}

.demo-logo small {
    color: rgba(52, 73, 94, 0.3);
    display: block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    padding-top: 5px;
}

.padding {
    padding: 1rem;
}


/*Accordion*/

.accordion-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.06), 0 20px 30px -10px rgba(15, 72, 179, 0.2);
}
.accordion-list__item + .accordion-list__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-item--opened .accordion-item__icon {
    transform: rotate(180deg);
}
.accordion-item--opened .accordion-item__inner {
    max-height: 100rem;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-duration: 0.5s;
    transition-property: max-height;
}
.accordion-item--opened .accordion-item__content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}
.accordion-item__line {
    cursor: pointer;
    display: block;
    padding: 1.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    position: relative;
}
.accordion-item__title {
    font-size: 1.6rem;
    margin: 0;
    font-weight: 700;
    color: #121212;
}
.accordion-item__icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
    opacity: 0.6;
}
.accordion-item__inner {
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
}
.accordion-item__content {
    opacity: 0;
    transform: translateY(-1rem);
    transition-timing-function: linear, ease;
    transition-duration: 0.1s;
    transition-property: opacity, transform;
    transition-delay: 0.5s;
    padding: 0 1.2rem 1.2rem;
}
.accordion-item__paragraph {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    font-weight: 300;
    line-height: 1.3;
}